.active {
  background: #1A4F72; }

header {
  margin: 0;
  padding: 0;
  /* Header Logo */
  /* Navigation */ }
  header .intro {
    background: #2980B9;
    padding: 10px;
    margin-left: 5%;
    text-align: center;
    width: 35%;
    color: #EFF3F3; }
    @media (max-width: 40em) {
      header .intro {
        width: 100%;
        margin: 0; } }
    header .intro h1 {
      font-size: 1.55em;
      font-weight: 600; }
    header .intro h2 {
      font-size: 1.35em;
      font-weight: 400; }
    header .intro img {
      width: 72px;
      height: auto;
      display: block;
      margin: 0 auto; }
  header nav {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    right: 0;
    width: 60%;
    background: #2980B9; }
    @media (max-width: 40em) {
      header nav {
        position: relative;
        width: 100%;
        top: 0; } }
    header nav ul {
      display: block;
      list-style-type: none; }
      header nav ul li {
        float: left; }
        header nav ul li i {
          margin-right: 5px; }
        @media (max-width: 40em) {
          header nav ul li {
            width: 50%;
            text-align: center;
            background: #2980B9; } }
        header nav ul li a {
          text-decoration: none;
          font-size: .9em;
          color: #EFF3F3;
          padding: 10px;
          display: block; }
          @media (max-width: 40em) {
            header nav ul li a {
              font-weight: 600;
              padding: 15px; } }
          header nav ul li a:hover {
            background: #1A4F72; }
      header nav ul .grads {
        float: right;
        margin-right: 25px; }
        @media (max-width: 40em) {
          header nav ul .grads {
            width: 100%;
            text-align: center;
            font-size: 1.2em;
            margin: 0;
            border-bottom: 1px solid #2980B9; } }
        header nav ul .grads a {
          background: #ECECEC;
          color: #2980B9;
          font-weight: 600; }
          header nav ul .grads a i {
            margin-right: 5px; }
          header nav ul .grads a:hover {
            color: #DF5430;
            background: #ECECEC;
            text-decoration: underline;
            border-bottom: none; }
            @media (max-width: 40em) {
              header nav ul .grads a:hover {
                background: #e15f3d;
                color: #ECECEC;
                text-decoration: none; } }
