footer .footerinfo p {
  *zoom: 1; }
  footer .footerinfo p:before, footer .footerinfo p:after {
    content: " ";
    display: table; }
  footer .footerinfo p:after {
    clear: both; }

footer .footerinfo p {
  *zoom: 1; }
  footer .footerinfo p:before, footer .footerinfo p:after {
    content: " ";
    display: table; }
  footer .footerinfo p:after {
    clear: both; }

.active {
  background: #1A4F72; }

header {
  margin: 0;
  padding: 0;
  /* Header Logo */
  /* Navigation */ }
  header .intro {
    background: #2980B9;
    padding: 10px;
    margin-left: 5%;
    text-align: center;
    width: 35%;
    color: #EFF3F3; }
    @media (max-width: 40em) {
      header .intro {
        width: 100%;
        margin: 0; } }
    header .intro h1 {
      font-size: 1.55em;
      font-weight: 600; }
    header .intro h2 {
      font-size: 1.35em;
      font-weight: 400; }
    header .intro img {
      width: 72px;
      height: auto;
      display: block;
      margin: 0 auto; }
  header nav {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    right: 0;
    width: 60%;
    background: #2980B9; }
    @media (max-width: 40em) {
      header nav {
        position: relative;
        width: 100%;
        top: 0; } }
    header nav ul {
      display: block;
      list-style-type: none; }
      header nav ul li {
        float: left; }
        header nav ul li i {
          margin-right: 5px; }
        @media (max-width: 40em) {
          header nav ul li {
            width: 50%;
            text-align: center;
            background: #2980B9; } }
        header nav ul li a {
          text-decoration: none;
          font-size: .9em;
          color: #EFF3F3;
          padding: 10px;
          display: block; }
          @media (max-width: 40em) {
            header nav ul li a {
              font-weight: 600;
              padding: 15px; } }
          header nav ul li a:hover {
            background: #1A4F72; }
      header nav ul .grads {
        float: right;
        margin-right: 25px; }
        @media (max-width: 40em) {
          header nav ul .grads {
            width: 100%;
            text-align: center;
            font-size: 1.2em;
            margin: 0;
            border-bottom: 1px solid #2980B9; } }
        header nav ul .grads a {
          background: #ECECEC;
          color: #2980B9;
          font-weight: 600; }
          header nav ul .grads a i {
            margin-right: 5px; }
          header nav ul .grads a:hover {
            color: #DF5430;
            background: #ECECEC;
            text-decoration: underline;
            border-bottom: none; }
            @media (max-width: 40em) {
              header nav ul .grads a:hover {
                background: #e15f3d;
                color: #ECECEC;
                text-decoration: none; } }

footer .footerinfo p {
  *zoom: 1; }
  footer .footerinfo p:before, footer .footerinfo p:after {
    content: " ";
    display: table; }
  footer .footerinfo p:after {
    clear: both; }

main {
  width: 100%;
  margin: 0;
  padding: 0; }
  main aside,
  main .myContent {
    display: inline-block; }
    main aside:before, main aside:after,
    main .myContent:before,
    main .myContent:after {
      content: '';
      display: table; }
    main aside:after,
    main .myContent:after {
      clear: both; }
  main aside {
    float: left;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(41, 128, 185, 0.15);
    padding: 20px;
    width: 35%; }
    @media (max-width: 30em) {
      main aside {
        width: 100%;
        margin: 0;
        margin-top: 30px; } }
    main aside ul {
      list-style-type: none; }
  main .myContent {
    margin-top: -67px;
    margin-bottom: 30px;
    padding: 25px;
    width: 60%; }
    @media (max-width: 40em) {
      main .myContent {
        margin-top: 0; } }
    @media (max-width: 30em) {
      main .myContent {
        width: 100%;
        margin: 0;
        margin-bottom: 30px; } }
    main .myContent h1 {
      font-size: 1.75em;
      line-height: 1.2em;
      margin-bottom: 30px !important;
      font-weight: 600; }
    main .myContent h2 {
      font-size: 1.35em;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px; }

footer .footerinfo p {
  *zoom: 1; }
  footer .footerinfo p:before, footer .footerinfo p:after {
    content: " ";
    display: table; }
  footer .footerinfo p:after {
    clear: both; }

footer {
  color: #CBCACA;
  font-size: .75em;
  margin: 0;
  text-align: right;
  background: #1C1C1C; }
  @media (max-width: 40em) {
    footer {
      text-align: center; } }
  footer .footerinfo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block; }
    footer .footerinfo p {
      margin: 0;
      padding: 15px;
      float: left; }
      footer .footerinfo p a {
        text-decoration: none;
        color: #ECECEC;
        display: block; }
        footer .footerinfo p a:hover {
          text-decoration: underline; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.skiplinks {
  /*Recommended solution by http://webaim.org/techniques/css/invisiblecontent/*/
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.wrapper {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .wrapper:before, .wrapper:after {
    content: '';
    display: table; }
  .wrapper:after {
    clear: both; }

body {
  background: #ECECEC;
  color: #1C1C1C;
  font-family: "Titillium Web", sans-serif; }

headings {
  font: "Titillium Web", sans-serif;
  line-height: 1.2em; }

h1 {
  font-size: 3em; }

p {
  padding-bottom: 10px; }
