.wrap123 {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  width: 960px;
  max-width: 100%;
  margin: auto;
  padding: 5px; }
  .wrap123 .student123 {
    width: 360px;
    max-width: 100%;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    background: #2980B9;
    color: #ECECEC; }
    .wrap123 .student123 .stucon {
      text-align: center; }
      .wrap123 .student123 .stucon img {
        width: 54px;
        align-content: center;
        float: left;
        clear: right; }
      .wrap123 .student123 .stucon .profile:before, .wrap123 .student123 .stucon .profile:after {
        content: '';
        display: table; }
      .wrap123 .student123 .stucon .profile:after {
        clear: both; }
      .wrap123 .student123 .stucon .profile h3 {
        font-size: 1.2em;
        font-weight: 600; }
      .wrap123 .student123 .stucon .profile p {
        font-size: .9em; }
        .wrap123 .student123 .stucon .profile p span {
          font-weight: 600; }
      .wrap123 .student123 .stucon .profile a {
        float: left;
        width: 100%;
        background: #F2A845;
        color: #1C1C1C;
        text-align: center;
        padding: 5px 35px;
        text-decoration: none;
        transition: all .2s ease-in-out; }
        .wrap123 .student123 .stucon .profile a:hover {
          background: #DF5430;
          color: #ECECEC; }
