@import "variables";
@import "mixins";

.wrap123 {
	display: flex;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	-webkit-flex-flow: row wrap;
  	justify-content: space-around;
	width: 960px;
	max-width: 100%;
	margin: auto;
	padding: 5px;
	.student123 {
		width: 360px;
		max-width: 100%;
		margin: 5px;
		padding: 10px;
		display: inline-block;
		background: $blue;
		color: $background;
		.stucon {
			text-align: center;
			img {
				width: 54px;
				align-content: center;
				float: left;
				clear: right;
			}//img
			.profile {
				@include clearfix;
				//float: left;
				h3 {
					font-size: 1.2em;
					font-weight: $semibold;
				}//h3
				p {
					font-size: .9em;
					span {
						font-weight: $semibold;
					}//span
				}//p
				a {
					float: left;
					width: 100%;
					background: $orangeLight;
					color: $dark;
					text-align: center;
					padding: 5px 35px;
					text-decoration: none;
					transition: all .2s ease-in-out;
					&:hover {
						background: $orangeRed;
						color: $background;
					}//hover
				}//a	
			}//profile
		}//stucon
	}//student123
}//wrap123