	<aside role="sidebar">
		<section class="little">
			<h3>Little Chip Award</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			<!-- <img src="" alt="" title=""> -->
			<img src="http://placehold.it/100x100" alt="" title="">
			<p>XXXX graduate XXX XXX won this year's Little Chip Award!</p>

			<img src="http://placehold.it/100x100" alt="" title="">
			<p>XXXX graduate XXX XXX was one of 5 students short-listed for the XXXX 'Little Chip' award.</p>
		</section>
		<section class="credits">
			<p><strong>Designed by</strong></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			
			<p><strong>Can you do better?</strong></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>

			<p><strong>Contact</strong></p>
			<ul>
				<li>Teacher</li>
				<li>Position</li>
				<li><a href="mailto:name@email.com">E-mail</a></li>
			</ul>	
		</section>
	</aside>

	<div class="myContent">
		<h1>Information &amp; Communications at MMU</h1>
		<p>The various sub-sites located on this web server contain the work of students of the Department of Languages, Information and Communications at Manchester Metropolitan University.</p>

		<section id="stu">
			<h2>Students</h2>
			<p>The work is by students on all three years of our undergraduate degrees plus some postgraduate students taking on Multimedia Journalism. The majority of students are studying one of our routes under the Information and Communications programme. Some students are doing this under Combined Honours taking units in Digital Media with us and Marketing in the Business School.</p>

			<p>All students are taught standards based web design (following the Standardista approach) with an emphasis on standards based code, semantics, and good practice in web usability and accessibility.</p>

			<p>The majority of the cohort do not want to be professional web developers. Many go into IT or information related posts and they tell us that having an understanding of web design has often helped them in the workplace. Some go on to further study to teach IT or specialise in computing or multimedia.</p>

			<p>You will see work of all standards displayed on this site during the term. We do not just display the best. As with all coursework there will be a wide range of talent on display. What you don't see is our marking or feedback. We act like clients. If they don't fulfil the brief, they lose marks. If the work isn't following the standards we expect, they lose marks. You get the idea. You can view a pdf of our current guidelines <a href="http://www.ico.mmu.ac.uk/media/docs/required_practices.pdf" target=_blank>Required Practices for Web Development Assignments</a>.</p>
		</section>

		<section id="guests">
			<h2>Guest Speakers</h2>
			<p>We have a strong programme of guest speakers from industry. This has included speakers from Opera, Code Computerlove, The Reading Room, Mickey and Mallory, Pushon, Magnetic North and the BBC UX team. And individual names such as Andy Clarke, Richard Clark and Brendan Dawes. You can read about our 2012-2013 guests. If you would like to contribute, email <a href="mailto:r.eskins@mmu.ac.uk">Richard Eskins</a>.</p>
		</section>

		<section id="placements">
			<h2>Placements</h2>
			<p>Our students are always looking for ways of getting that vital workplace experience. In the past this has led to companies employing the same student once they graduate. If you can offer any placements, however short please let me know. If you are a freelancer that may have some work you sub-contract to a student please keep us in mind.</p>
		</section>

		<section id="work">
			<h2>Work</h2>
			<p>Most of our students who are really interested in web design go into front end and UX roles. Sometimes we have one or two techies that lean towards backend and stuff like Ruby. We also have others that are better with design and SEO. Our students are working successfully in many agencies around Manchester and the North West as well as the BBC. You can see some of our graduate profiles, like Abid's, on the <a href="http://diginnmmu.com/research/digital-alumni-abid-din-senior-developer-544">MMU Digital Innovation web site</a>. You can tweet me any vacancies via <a href="https://twitter.com/eskins">@eskins.</a></p>
		</section>
		
	</div>